body{
  margin:0;
  font-family:Arial;
  background:#0b132b;
  color:white;
  text-align:center;
}

.box{
  max-width:300px;
  margin:100px auto;
}

input,button{
  width:100%;
  padding:10px;
  margin:8px 0;
}

button{
  background:gold;
  border:none;
  cursor:pointer;
}
